<!DOCTYPE html>
<html>
  <head>
    <title>Diário de Estudos - iugu for devs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
